/* Section 1 styles */
.section-one {
  width: 1440px;
  height: 650px;
  padding-top: 30px;
  background-color: #c7f1ef;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 80px;
  border-bottom-right-radius: 80px;
  box-shadow: inset 1px 3px 5px rgba(78, 78, 78, 0.3),
    1px 3px 5px rgba(78, 78, 78, 0.3);
}

.section-one h2 {
  margin-left: 10%;
  margin-top: 40px;
  font-size: 40px;
  position: relative;
  z-index: 2;
  color: #2b3c3e;
}

#card-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 600px;
  z-index: 1;
}

#button-join {
  margin-top: 280px !important;
  padding-right: 60px !important;
  color: #2b3c3e;
}

#button-join,
#button-learn {
  font-size: 25px;
  padding: 15px 25px 15px 170px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  margin-top: 30px;
  margin-left: -30px;
  box-shadow: 0 1px 4px rgba(78, 78, 78, 0.4);
}

#button-join:hover,
#button-learn:hover {
  cursor: pointer;
  padding-left: 220px;
}

/* Section 2 styles */

.section-two {
  width: 1440px;
  background-color: #2b3c3e;
  padding-right: 50px;
  padding-top: 100px;
  margin-top: -100px;
  border-bottom-left-radius: 80px;
}

.section-two > div:first-child {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#s2-name {
  display: flex;
  align-items: center;
}

#s2-name h4 {
  color: #c9f4ef;
  font-size: 60px;
  border-right: 8px solid;
  padding-right: 15px;
  margin: 15px;
  margin-left: 65px;
}

#s2-text {
  font-size: 35px;
  text-align: right;
  color: white;
}
/* Frame styles  */

.frame {
  width: 1440px;
  overflow: hidden;
}

.slides {
  width: 200%;
  display: flex;
  transition: 1.5s ease-in-out;
}

.slide {
  width: 50%;
}

.content1 > img {
  margin-right: 190px;
}

.s2-slide-text {
  color: white;
  font-size: 40px;
  margin-left: 200px;
  margin-bottom: 30px;
}

.app-type {
  font-size: 35px;
  color: #2b3c3e;
  font-weight: 600;
  position: absolute;
  left: 200px;
  top: 290px;
}

.download-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  margin-left: 155px;
  margin-top: 20px;
}

.download-icons div {
  text-align: center;
  width: 150px;
  color: white;
}

.download-icons div:hover {
  color: #f44635;
  cursor: pointer;
}

.right-arrow,
.left-arrow {
  position: absolute;
  top: 40%;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
}

.right-arrow {
  right: 5%;
}

.left-arrow {
  left: 5%;
}

.right-arrow:hover,
.left-arrow:hover {
  cursor: pointer;
}

.content1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 50px;
}

.content3 {
  width: 1440px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 50px;
}

.c3-box {
  display: flex;
  align-items: center;
}

.red-bg > div {
  background-color: #f44635 !important;
}

.icon {
  background-color: #c7f1ef;
  width: 165px;
  height: 165px;
  border-radius: 90px;
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: inset 3px 3px 8px rgba(78, 78, 78, 0.9);
}
.icons-text p:first-child {
  font-weight: 600;
}

.icons-text {
  display: none;
  color: #27383c;
}

.icon:hover {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  margin: 0;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: flex-start;
}

/* Style for screen width more that 1440px  */

@media (max-width: 1440px) {

  .section-one {
    width: 100vw;
  }

  .section-two {
    width: 100vw;
  }

  .frame {
    width: 100vw;
  }

  .content3 {
    width: 100vw;
  }
}
