.form-container {
    background-color:#f445356c;
  }

    .info-type h3:last-child{
      background-color: #F44635;
      border-radius: 30px;
      padding: 5px 10px;
  }
  
  .join-button{
    background-color: #C8F3EF;
  }
  
  .join-button span {
    color:#F44635;
  }