#account-login-info {
  display: flex;
}

#account-login-info > div {
  flex-grow: 1;
}

.form-container {
  background-color: #f445356c;
}

.info-type h3:last-child {
  background-color: #f44635;
  border-radius: 30px;
  padding: 5px 10px;
}

.join-button {
  background-color: #c8f3ef;
}

.join-button span {
  color: #f44635;
}
