main {
    border-top-left-radius: 80px;
    background-color: #2b3c3e;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .section1 {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    margin-top: 40px;
    color: #c8f3ef;
    font-size: 2rem;
  }
  
  .info-type {
    margin-top: 30px;
    width: 404px;
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #6a7678;
    border-radius: 30px;
  }
  
  .info-type h3:first-child {
    border-radius: 30px;
    padding: 5px 10px;
  }
  
  .form-container {
    margin: 40px 0;
    padding: 35px;
    border-radius: 20px;
  }
  
  .form-container h4 {
    margin: 15px 0;
  }
  
  .form-container h2 {
    color: #f44535b0;
    text-align: center;
    margin-top: 40px;
    font-size: 2.5rem;
  }
  
  form > div {
    display: flex;
    align-items: center;
    line-height: 40px;
  }
  
  form > div div {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 5px;
  }
  
  form label {
    flex: 1 1 auto;
    margin-left: 15px;
  }
  
  form label ~ label {
    text-align: center;
  }
  
  form span {
    margin-left: 15px;
  }
  
  form input {
    flex: 4 1 auto;
  }
  
  form input {
    border: none;
    background-color: #2b3c3e;
    color: white;
    height: 30px;
    border-radius: 15px;
    padding: 5px 10px;
    outline: none;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.692);
  }
  
  .join-button {
    padding: 5px 20px;
    margin-bottom: 40px;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    border-radius: 20px;
    color: #2b3c3e;
    font-weight: 700;
    align-self: flex-end;
  }
  
  .join-button:hover {
    color: white;
  }
  
  @media (max-width: 1440px) {
    .section1 {
      width: 80vw;
    }
  }
  