/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a:link,
a:visited{
  text-decoration: none;
  color:#2b3c3e;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  width: 1440px;
}

.red {
  color: #f44635;
}

.blue {
  color: #caf4f0;
}

.bold {
  font-weight: 600;
}
/* Navigation styles */
#navigation {
  width: 1440px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  background: linear-gradient(to right, white, #caf4f0);
}

#nav-logo {
  margin-left: 10%;
}

#nav-buttons {
  margin-left: 10%;
}

.button-bright,
.button-dark {
  padding: 2px 10px;
  border: none;
  border-radius: 20px;
}

.button-bright {
  color: #27383c;
  background-color: #caf4f0;
}

.button-dark {
  color: #caf4f0;
  background-color: #27383c;
}

.button-bright:hover,
.button-dark:hover {
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
}

#nav-menu {
  margin-left: 42%;
}

#nav-menu span {
  width: 30px;
  padding: 2px 0;
  margin-left: 10px;
  text-align: center;
  background-color: white;
  box-shadow: inset 0 1px 3px rgb(78, 78, 78);
  border-radius: 20px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
  color: #f44635;
}

/* Footer styles */

#footer {
  width: 1440px;
  height: 300px;
  padding: 20px 20px;
  background: linear-gradient(to right, white, #caf4f0);
  display: flex;
  justify-content: space-around;
}

.footer-content p {
  color: #f44635;
  line-height: 40px;
}
.footer-content p:hover {
  color: #2b3c3e;
  cursor: pointer;
}

.footer-content h5 {
  font-size: 20px;
  padding-bottom: 10px;
}

.footer-content:nth-child(2) {
  text-align: center;
}

.socials > div {
  display: flex;
  align-items: center;
  justify-content: end;
}

.socials img {
  width: 30px;
  margin-left: 10px;
}

@media (max-width: 1440px) {
  
  main{
    width: 100vw;
 }
  #navigation {
    width: 100vw;
  }
  #footer {
    width: 100vw;
  }
}

@media (max-width: 1100px){
  #nav-menu {
    margin-left: 32%;
  }
}

