#account-login-info{
  display: flex;
}

#account-login-info > div{
  flex-grow: 1;
}

.form-container {
  background-color: #c8f3ef5d;
}

.info-type h3:first-child {
  background-color: #c8f3ef;
}

.join-button{
  background-color: #f44535b0;
}

.join-button span {
  color: white;
}
